<div>
  <form id="login-form" class="container" action="/sessions" method="post">
    <input type="email" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" class="button" value="Login"/>
  </form>
</div>

<%= erb :_errors %>
