/*------------------SITE STYLING------------------*/

body {
  font-family: 'Helvetica Neue',  sans-serif;
  font-weight: lighter;
  background: rgba(247,128,64,1);
  background: -moz-linear-gradient(top, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,128,64,1)), color-stop(49%, rgba(230,22,7,1)), color-stop(100%, rgba(76,11,150,1)));
  background: -webkit-linear-gradient(top, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  background: -o-linear-gradient(top, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  background: -ms-linear-gradient(top, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  background: linear-gradient(to bottom, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78040', endColorstr='#4c0b96', GradientType=0 );
  background-repeat: repeat;
  background-size: cover;
}

/*h1, h2, h3, h4, h5, h6 {
  font-family: 'Londrina Outline', cursive;
}*/

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FFDEAD;
  margin: 100px auto;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 20px 20px 20px;
  border: 2px solid #F9BD42;
  border-radius: 5px;
}

main {
  /*width: 750px;
  background-color: blue;
  height: 900px;;
  margin: 0 auto;*/
}

.welcome {
  text-align: center;
  font-family: 'Helvetica neue', sans-serif;
  font-weight: 200;
  color: #FFDEAD
}

.julie-kudos {
  text-align: center;
}

header {
  height: 300px;
  background-image: url('https://i.imgur.com/6ScOK8b.jpg');
  background-size: 80% contain;
  background-position: center;
    &:before {
      content: '';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: linear-gradient(to bottom right,#000000,#dc4225);
    	opacity: .6;
  }
}
/*------------------NAVIGATION------------------*/

nav {
  /*background-color: #341527;*/
  /*box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);*/
  height: 80px;
  top: 0;
}

nav a {
  color: #FFDEAD;
  text-decoration: none;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.nav-li {
  font-size: 1.3em;
  list-style-type: none;

}

.header-a {
  font-family: 'Londrina Outline', cursive;
  font-size: 4em;
  padding-right: 110px;
  /*padding-top: 20px;
  padding-left: 20px;*/
}

/*------------------FORMS------------------*/
.form-header {
  text-align: center;
  padding-bottom: 20px;
}

form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  /*justify-content: center;*/
  /*align-items: center;*/
}

form input, textarea {
  width: 375px;
  height: 50px;
  margin: 10px;
  border-style: hidden;
  border-bottom: 1px solid #000000;
  border-radius: 3px;
  padding-left: 3px;

}

form input[placeholder] {
  font-family: 'Helvetica Neue', sans-serif;
  color: #454E4D;
}

form .button {
  background-color: #DB7F3D;
  color: #FFFFFF;
  border-bottom: none;
  border-radius: 2px;
}

label {

}

/*------------------BUTTONS------------------*/
.button-to-link {
  background:none!important;
  color: #FFDEAD !important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
  width: 70px;
}

/*------------------HOMEPAGE------------------*/

.index-flex {
  display: flex;
  justify-content: space-around;
}

.welcome-div {
  border: 3px solid #FFDEAD;
  padding: 10px;
  color: #FFDEAD;
  font-weight: 200;
}

a, .welcome-div {
  text-decoration: none;
}


/*------------------TESTIMONIALS(ALL)------------------*/

.testimonial-li {
  list-style-type: none;
  color: #FFDEAD;
}

.show-all {
  display: flex;
  width: 60%;
}

.testimonial-title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonial-content {
  font-size: 1.3em;
}

.testimonial-name {
  font-size: 1.3em;
  margin-top: 10px;
  padding-bottom: 40px;
}

/*------------------FOOTER------------------*/

footer {
  width: 100%;
  position: absolute;
}

footer p {
  background-color: #341527;
  color: #FFDEAD;
  text-align: center;
  height: 40px;
  padding-top: 20px;
}

footer a {
  color: #FFDEAD;
  text-decoration: none;
}
