/*------------------SITE STYLING------------------*/

body {
  font-family: 'Helvetica Neue',  sans-serif;
  font-weight: lighter;
  background: rgba(247,128,64,1);
  background: -moz-linear-gradient(top, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,128,64,1)), color-stop(49%, rgba(230,22,7,1)), color-stop(100%, rgba(76,11,150,1)));
  background: -webkit-linear-gradient(top, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  background: -o-linear-gradient(top, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  background: -ms-linear-gradient(top, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  background: linear-gradient(to bottom, rgba(247,128,64,1) 0%, rgba(230,22,7,1) 49%, rgba(76,11,150,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78040', endColorstr='#4c0b96', GradientType=0 );
  background-repeat: no-repeat;
  background-size: auto;
  height: 900px;
}

/*h1, h2, h3, h4, h5, h6 {
  font-family: 'Londrina Outline', cursive;
}*/

.container {
  margin: 100px auto;
  width: 600px;
  background-color: #FFFFFF;
  padding: 40px 20px 20px 20px;
  border: 2px solid #F9BD42;
  border-radius: 2px;
}

main {
  /*width: 750px;
  background-color: blue;
  height: 900px;;
  margin: 0 auto;*/
}

.welcome {
  text-align: center;
  font-family: 'Helvetica neue', sans-serif;
  font-weight: 200;
  color: #FFDEAD
}
/*------------------NAVIGATION------------------*/

nav {
  background-color: #341527;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 100px;
}

nav a {
  color: #FFDEAD;
}

.nav-ul {
  display: inline-block;
  vertical-align: top;
}

.header-a {
  font-family: 'Londrina Outline', cursive;
  text-decoration: none;
  font-size: 4em;
  padding-top: 20px;
  padding-left: 20px;
}

.nav-a {
  text-decoration: none;
}

.nav-li {
  float: right;
  text-align: right;
  list-style-type: none;
  padding-right: 25px;
  padding-left: 15px;
  padding-top: 20px;
  font-size: 1.3em;

}

/*------------------FORMS------------------*/
form {
  text-align: center;
}

form input {
  width: 375px;
  height: 50px;
  margin: 10px;
  border-style: hidden;
  border-bottom: 1px solid #000000;
}

form input[placeholder] {
  font-family: 'Helvetica Neue', sans-serif;
  color: #454E4D;
}

form .button {
  background-color: #DB7F3D;
  color: #FFFFFF;
  border-bottom: none;
  border-radius: 2px;
}

/*------------------BUTTONS------------------*/

/*------------------FOOTER------------------*/

footer {
  bottom: 0;
  width: 100%;
  position: absolute;
}

footer p {
  background-color: #341527;
  color: #FFDEAD;
  text-align: center;
  height: 40px;
  padding-top: 20px;
}

footer a {
  color: #FFDEAD;
  text-decoration: none;
}
