<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <% if logged_in?  %>
    <ul class="logged">
      <li><a id="header" href="/">Julie's Kudos</a></li>
      <li><a id="logout"><%= erb :'/sessions/delete' %></a></li>
    </ul>
    <% else %>
    <ul class="logged">
      <li><a id="header" href="/">Julie's Kudos</a></li>
      <li><a class="nav-li" href="/sessions/new">Login</a></li>
      <li><a class="nav-li" href="/users/new">Register</a></li>
    </ul>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>
