<section class="show-all">
  <ul class="testimonial-ul">
    <% @testimonials.each do |testimonial| %>
    <li class="testimonial-li testimonial-title"><%= testimonial.title %></li>
    <li class="testimonial-li testimonial-content"><%= testimonial.content %></li>
    <li class="testimonial-li testimonial-name">Kudos by: <%= testimonial.author.first_name %> <%= testimonial.author.last_name %></li>
    <% end %>
  </ul>
</section>
